:root {
  // headers, background, icons, buttons
  --color-header-background-icons-btns: #000000;

  // text, background
  --color-text-background-white: #fff;

  // description
  --color-description: #595959;

  // outlines, dashes
  --color-outlines-dashes: #dddddd;

  // background
  --color-background-light-grey: #f8f8f8;

  // illustrations
  --color-illustration-100: #3f1a84;
  --color-illustration-200: #f58fa9;
  --color-illustration-300: #ffbc45;
}
