.quizResultTable {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .restartApp {
    color: var(--color-header-background-icons-btns);
    cursor: pointer;
    font-weight: var(--font-weight-bold);
    text-decoration: underline;
  }
}