
.ToastViewport {
    //--viewport-padding: 10px;
    position: fixed;
    bottom: 20%;
    right: 40%;
    left: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: var(--viewport-padding);
    gap: 10px;
    margin: 0;
    list-style: none;
    z-index: 2147483647;
    outline: none;

    @media screen and (max-width: 680px) {
        left: 40px;
        right: 40px;
    }
}

.ToastRoot {
    background-color: white;
    border-radius: 6px;
    box-shadow: hsl(206 22% 7% / 35%) 0 10px 38px -10px, hsl(206 22% 7% / 20%) 0 10px 20px -15px;
    padding: 15px;
    display: grid;
    grid-template-areas: 'title action' 'description action';
    grid-template-columns: auto max-content;
    column-gap: 15px;
    align-items: flex-start;
}
.ToastRoot[data-state='open'] {
    animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.ToastRoot[data-state='closed'] {
    animation: hide 150ms ease-in;
}

@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(calc(100% + var(--viewport-padding)));
    }
    to {
        transform: translateX(0);
    }
}


.ToastTitle {
    grid-area: title;
}

.ToastDescription {
    grid-area: description;
    margin: 0;
}

.ToastAction {
    grid-area: action;
}