@mixin typography(
  $font-size: var(--font-size-m),
  $font-weight: var(--font-weight-normal),
  $line-height: var(--line-height-m),
  $color: var(--color-text-background-white)
) {
  all: unset;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
}

.h1 {
  @include typography(
    $font-size: var(--font-size-xxl),
    $line-height: var(--line-height-l),
    $color: var(--color-header-background-icons-btns)
  );
}

.h2 {
  @include typography(
    $font-size: var(--font-size-xl),
    $line-height: var(--line-height-l),
    $color: var(--color-header-background-icons-btns),
    $font-weight: var(--font-weight-bold)
  );
}

.h4 {
  @include typography(
    $font-size: var(--font-size-l),
    $line-height: var(--line-height-ml),
    $color: var(--color-header-background-icons-btns)
  );
}

.h6 {
  @include typography(
    $font-size: var(--font-size-m),
    $line-height: var(--line-height-m),
    $color: var(--color-description)
  );
}

.body {
  @include typography($color: var(--color-description));
}
