.app {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
  padding: 0 40px;
  height: 100vh;
  width: 100%;
  .introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .appContainer {
    max-width: 1024px;
    width: 100%;

    .logo {
      margin-left: -20px;
    }

    .appContentWrapper {
      max-width: 1024px;
    }
  }
  @media screen and (max-width: 485px) {
    position: initial;
    margin-top: 150px;
    height: initial;

    .introduction {
      text-align: center;
    }
    .pattern {
      background-image: url('../shared/assets/icons/ES_pattern-1.svg');
      width: 100vw;
      height: 50vh;
      position: absolute;
      bottom: 0;
      margin: 0 10px 0 0;
    }
  }
}
