.button {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 6px 0;

    font-family: var(--font-family-primary);
    font-size: var(--font-size-s);
    font-weight: var(--line-height-l);
    text-align: center;
    text-decoration: none;

    border: 2px solid var(--color-header-background-icons-btns);
    outline: none;

    .icon > svg {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
    }

    &:focus-visible {
        background-color: transparent;
        outline: 2px solid var(--color-outlines-dashes);
    }
}

.primary {
    background-color: var(--accent-primary-gray);
    color: var(--surface);
    padding: 10px 20px;
    border-radius: 4px;

    &:hover {
        background-color: var(--accent-gray-600);
    }

    &:focus-visible {
        background-color: var(--accent-primary-gray);
        outline: 2px solid var(--color-outlines-dashes);
    }
}

.clean {
    background-color: transparent;
    border-radius: 4px;
    color: var(--text-default);

    &:hover {
    //background-color: var(--color-light-200);
    }
    &:disabled {
        svg {
            fill: #b4b4b4;
        }
    }
}

.icon {
    margin-right: 6px;
    padding: 0;
}

.disabled {
    background-color: #262633;
}
